<!DOCTYPE html>
<html lang="en">
    <head>
        <title> URL-Shortener </title>
        <link href="/css/style.css" rel="stylesheet" type="css/text" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script src="/js/style.js"></script>
    </head>
    <body>
        <div id="container">
            <div id="body">
                <div id="head">
                    <span></span>URL Shorten!
                </div>
                <div id="content">
                    <div id="left_panel">
                       Here
                    </div>
                    <div id="right_panel">
                        there
                    </div>
                </div>
                <div id="bottom">
                    <hr />
                </div>
            </div>
        </div>
    </body>
</html>
