<!DOCTYPE html>
<html lang="en">
    <head>
        <title> URL-Shortener </title>
        <link href="/css/style.css" rel="stylesheet" type="css/text" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script src="/js/facebox.js"></script>
        <script src="/js/start.js"></script>

    </head>
    <body>
        <div id="container">
            <div id="body">
                <div id="head">
                    <span></span>URL Shorten!
                </div>
                <div id="sub_header">
                    Beta (v0.0.1)
                </div>
                <div id="content">
                    <br />
                    <br />
                    <div id="left_panel">
                       <div id="url">
                        <input id="url_input" type="text" />
                       </div>
                       <div id="button">
                        <br />
                        <a id="button_input" href="#">
                            Shorten!
                        </a>
                       </div>
                    </div>
                    <div id="right_panel">
                        <div id="panel">
                            <input id="short_url" type="text" />
                            <br />
                            <br />
                            <a href="#">Stats</a>
                        
                        </div>
                    </div>
                </div>
                <div id="bottom">
                    <hr />
                    <br />
                    <br />
                    
                    <a id="tech" href="/desc">Tech Used</a>
                    <br />
                    <br />
                    <br />
                    <br />
                </div>
            </div>
            <footer>
                Copyright &copy; Eudis Duran, 2011
            </footer>
        </div>
    </body>
</html>
